{% extends "webapp/header.html" %}

{% block content %}
<p>
	Lorem ipsum dolor sit amet, in eros massa dolor nunc, vivamus ultrices massa 
	lobortis mauris, id neque tristique, integer quam vel, massa risus duis pretium 
	magna massa faucibus. Per nonummy, praesent rutrum vestibulum mi est. Wisi nibh proin. 
	Excepturi nonummy, donec tristique, massa ullamcorper eu cras sociosqu blandit, urna turpis. 
	Proin sed nec blandit, class nam aliquet euismod tortor magnis nibh, eros eleifend fermentum
	eu amet et ut, laoreet convallis. Nulla turpis placerat ipsum, imperdiet vel ultricies sollicitudin
	massa, semper dui. Amet aliquet nullam. Est felis purus ipsum neque, augue eget etiam eu vitae. 
	Facilisis dictum morbi velit tristique nec. Pellentesque fringilla elit leo leo, libero et vestibulum 
	ac metus, porttitor vitae sit hac eget. Pharetra mauris sed non curabitur suscipit, non dui scelerisque 
	et tempus cum.
</p>

{% endblock %}